* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.flex {
  display: flex; }

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: absolute;
  padding: .75rem 1.25rem;
  margin: 100px auto 0px 100px;
  border-radius: .25rem;
  z-index: 20000; }

.errorSuppr {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: absolute;
  padding: .75rem 1.25rem;
  margin: 0px auto 0px 100px;
  border-radius: .25rem;
  z-index: 20000; }

.offreActu {
  color: #721c24;
  background-color: #3bee59;
  border-color: #3bee59;
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  margin-bottom: 20px; }

.offreActuError {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  margin-bottom: 20px; }

.leftTitre {
  text-align: center;
  color: #17a888;
  text-transform: uppercase;
  font-size: 18px; }

.leftDescr {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px; }

.leftInfosTitle {
  font-size: 14px;
  font-weight: bold;
  color: #17a888; }

.leftInfos {
  font-size: 14px;
  margin-bottom: 25px; }

.modif {
  width: 100%;
  background-color: #17a888;
  padding: 25px;
  box-sizing: border-box; }
  .modif label {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 10px; }
  .modif input[type=text], .modif input[type=file], .modif select {
    width: 100%;
    margin-bottom: 15px; }
  .modif input[type=submit]:disabled {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    margin: auto;
    display: block;
    cursor: pointer; }
  .modif input[type=submit]:disabled:hover {
    cursor: not-allowed;
    background-color: #000000;
    color: #ffffff; }
  .modif input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: 0.3s; }
  .modif input[type=submit]:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s; }

.modal {
  width: 50%;
  position: fixed;
  top: 25px;
  left: 25%;
  z-index: 1000;
  display: none; }

.rightTitre {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px; }

.rightDescr {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: #ffffff; }

.btn {
  background-color: #17a888;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  margin: auto;
  width: max-content;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #17a888;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px; }

.btn:hover {
  background-color: #ffffff;
  color: #17a888;
  transition: 0.3s; }

.btnSuppr {
  background-color: #b90000;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  margin: auto;
  width: max-content;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #b90000;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px; }

.btnSuppr:hover {
  background-color: #ffffff;
  color: #b90000;
  transition: 0.3s; }

.englobeOffreSolo {
  display: flex;
  flex-wrap: wrap; }

.offreSolo {
  width: 23%;
  padding: 25px;
  box-sizing: border-box;
  background-color: #dadada;
  float: left;
  margin: 1%; }
  .offreSolo img {
    width: 100%; }

.filtreModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  cursor: zoom-out; }

h2, h3 {
  font-weight: bold; }

body {
  font-family: sans-serif; }

header {
  width: 100%;
  background-color: #000000;
  padding: 0 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0; }
  header img {
    float: left;
    padding: 13px 0; }
  header .mobile {
    display: none; }
  header nav {
    float: right;
    display: flex; }
    header nav a {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      text-decoration: none;
      padding: 29px 10px; }
    header nav a:hover {
      background-color: #17a888;
      transition: 0.3s;
      color: #ffffff; }
    header nav #logout:hover {
      background-color: initial;
      color: red; }

main {
  width: 100%;
  padding: 120px 100px 50px 100px;
  box-sizing: border-box; }
  main section {
    width: 50%;
    padding: 0 25px;
    box-sizing: border-box; }
  main #left img {
    width: 100%; }
  main #chgtImg {
    width: 95%; }
  main .imgFond {
    background: url(../img/login.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 310px 0; }
    main .imgFond div {
      background: #fff;
      width: 18%;
      margin: auto; }
      main .imgFond div h3 {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px; }
      main .imgFond div form {
        display: flex;
        flex-wrap: wrap; }
        main .imgFond div form input {
          width: 60%;
          display: block;
          margin: auto;
          padding: 7px;
          border-radius: 5px;
          margin-bottom: 15px;
          border: 1px solid; }

#dateEnvoi {
  margin-bottom: 16px; }

.connexion {
  padding: 0 0 0 0; }

.tableau {
  border-collapse: collapse;
  min-width: 400px;
  width: auto;
  margin: auto;
  cursor: pointer; }
  .tableau thead tr {
    text-align: left;
    background: #17a888; }
  .tableau th, .tableau td {
    padding: 7px 20px; }
  .tableau tbody tr, .tableau td, .tableau th {
    border: 1px solid #ddd; }
  .tableau tbody tr:nth-child(even) {
    background-color: #f3f3f3; }

#message {
  width: 100%;
  height: 150px;
  resize: none; }

footer {
  width: 100%;
  padding: 50px 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 12px; }

.connexionFooter {
  position: fixed;
  bottom: 0; }

@media screen and (max-width: 1200px) {
  header .mobile {
    display: block;
    float: right;
    width: 50px; }
  header nav {
    display: none;
    text-align: center;
    float: none;
    clear: both; }
    header nav a {
      display: block;
      padding: 15px 10px; }

  main .imgFond div {
    width: 30%; } }
@media screen and (max-width: 1000px) {
  header {
    padding: 0 35px; }

  main {
    padding: 100px 0px; }
    main .flex {
      display: block; }
      main .flex #left, main .flex #right {
        width: 100%;
        padding: 0 15px; }
    main #leftNewsletter, main #rightNewsletter {
      display: block;
      margin: auto;
      width: 95%; }
    main .offreSolo {
      width: 31%; }
    main .imgFond div {
      width: 50%; } }
@media screen and (max-width: 550px) {
  main .offreSolo {
    width: 48%;
    padding: 10px; }
  main .modal {
    width: 94%;
    left: 3%;
    padding: 5px; }
  main .tableau {
    min-width: 280px; }
  main .imgFond div {
    width: 87%; }

  #submitContact {
    font-size: 12px;
    padding: 15px 15px; } }

/*# sourceMappingURL=style.css.map */
